.example-card {
    max-width: 400px;
    max-height: 420px;
    cursor: pointer;
    /* margin-left: 50px;
    margin-top: 30px; */
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  