<mat-toolbar color="primary">
  <span>Angular Stocks</span>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Realtime</mat-card-title>
    <mat-card-subtitle>share prices</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://s.thestreet.com/files/tsc/v2008/photos/contrib/uploads/stocktickerboard_600x400.jpg" alt="Realtime share prices">
  <mat-card-content>
    <p>
    See the realtime share prices.
    </p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-raised-button color="primary">Search</button>
  </mat-card-actions> -->
</mat-card>



<!-- <div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div> -->